<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New auto loan</title>
</head>
<body>
<h1>Creation of new auto loan</h1>

<div data-th-if="${errors}">
    <h2>Validation Errors</h2>
    <ul>
        <li data-th-each="error : ${errors}" data-th-text="${error.getDefaultMessage()}"></li>
    </ul>
</div>

<form method="post" data-th-action="@{/auto-loans/create}">

    <label>
        User passport number:<br>
        <input type="text" name="holderPassportNumber" data-th-value="${autoLoanPayload?.holderPassportNumber}">
    </label><br>

    <label for ="amount">
        Amount loan:<br>
        <input type="number"  min="1" name="amount" id ="amount" step="0.01"  data-th-value="${autoLoanPayload?.amount}">
    </label><br>
    <label for="currentAmount">
        Current Amount:<br>
        <input type="number"  min="0" id="currentAmount" step="0.01" name="currentAmount" data-th-value="${autoLoanPayload?.currentAmount}">
    </label><br>
    <label>
        Term in months:<br>
        <input type="number"  min="1" name="termInMonths" data-th-value="${autoLoanPayload?.termInMonths}">
    </label><br>
    <button type="submit">Create</button>
    <br>
    <a href="/auto-loans/list">
        <button type="button">Go back</button>
    </a>
</form>
</body>
</html>