<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>auto loan</title>
</head>
<body>
<h1>Updating of new auto loan</h1>

<div data-th-if="${errors}">
    <h2>Validation Errors</h2>
    <ul>
        <li data-th-each="error : ${errors}" data-th-text="${error.getDefaultMessage()}"></li>
    </ul>
</div>

<form method="post" data-th-action="@{/auto-loans/{autoLoanId}/edit(autoLoanId=${autoLoan?.id})}">
    <input type="hidden" name="_method" value="put">
    <label>
        Current Amount:<br>
        <input type="number" name="currentAmount"
               data-th-value="${autoLoanPayload != null ? autoLoanPayload?.currentAmount : autoLoan?.currentCreditAmount.intValue}">
    </label><br>
    <label>
        Term in months:<br>
        <input type="number" name="termInMonths" data-th-value="${autoLoanPayload != null ? autoLoanPayload?.termInMonths : autoLoan?.creditTermInMonths}">
    </label><br>

    <button type="submit">Update</button>
</form>
</body>
</html>