<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Information</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h2>Users</h2>
<table>
    <thead>
    <tr>
        <th>Username</th>
        <th>Gender</th>
        <th>Birthdate</th>
        <th>Passport Number</th>
        <th>Updating user</th>
        <th>Deleting user</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.userName}"></td>
        <td th:text="${user.gender}"></td>
        <td th:text="${user.dateOfBirth}"></td>
        <td th:text="${user.passportNumber}"></td>
        <td>
            <a data-th-href="@{/users/{userId}/edit(userId=${user.id})}">
                <button>Update</button>
            </a>
        </td>
        <td>
            <form method="post"
                  data-th-action="@{/users/{userId}/delete(userId=${user.id})}">
                <button type="submit">delete</button>
                <input type="hidden" name="_method" value="delete">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br>
<a href="/">
    <button>Go back</button>
</a>
<br>
<br>
<a href="/users/create">
    <button>Create New User</button>
</a>
</body>
</html>
