<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<h1>Creation of a new user</h1>

<div data-th-if="${errors}">
    <h2>Validation Errors</h2>
    <ul>
        <li data-th-each="error : ${errors}" data-th-text="${error.getDefaultMessage()}"></li>
    </ul>
</div>

<form method="post" data-th-action="@{/users/create}">
    <label>
        Username:<br>
        <input type="text" name="userName" data-th-value="${userPayload?.userName}">
    </label><br>

    <label>
        Passport Number:<br>
        <input type="text" name="passportNumber" data-th-value="${userPayload?.passportNumber}">
    </label><br>

    <label>
        Gender:<br>
        <select name="gender" data-th-value="${userPayload?.gender}">
            <option value="MALE">Male</option>
            <option value="FEMALE">Female</option>
        </select>
    </label><br>

    <label>
        Date of Birth:<br>
        <input type="date" name="dateOfBirth" data-th-value="${userPayload?.dateOfBirth}">
    </label><br>

    <button type="submit">Create</button>
</form>
</body>
</html>