<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Update User – Bank</title>
</head>
<body>
<h1>Update User</h1>

<div data-th-if="${errors}">
  <h2>Validation Errors</h2>
  <ul>
    <li data-th-each="error : ${errors}" data-th-text="${error.getDefaultMessage()}"></li>
  </ul>
</div>

<form method="post" data-th-action="@{/users/{userId}/edit(userId=${user?.id})}">
    <input type="hidden" name="_method" value="put">
    <label>
        Username:<br>
        <input type="text" name="userName"
               data-th-value="${userPayload != null ? userPayload.userName : user.userName}">
    </label><br>

    <label >
        Passport Number:<br>
        <input type="text" name="passportNumber"
               data-th-value="${userPayload != null ? userPayload.passportNumber : user.passportNumber}">
    </label><br>

    <label>
        Gender:<br>
        <select name="gender"
                data-th-value="${userPayload != null ? userPayload.gender : user.gender}">
            <option value="MALE">Male</option>
            <option value="FEMALE">Female</option>
        </select>
    </label><br>

    <label>
        Date of Birth:<br>
        <input type="date" name="dateOfBirth"
               data-th-value="${userPayload != null ? userPayload.dateOfBirth : user.dateOfBirth}">
    </label><br>

    <button type="submit">Update</button>
    <br>
    <a href="/users/list">
        <button type="button">Go back</button>
    </a>
</form>
</body>
</html>