<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mortgages</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h2>Mortgages</h2>
<table>
    <thead>
    <tr>
        <th>Passport ID</th>
        <th>Amount</th>
        <th>Current Amount</th>
        <th>Term (months)</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="mortgage : ${mortgages}">
        <td th:text="${mortgage.mortgageHolderPassportNumber}"></td>
        <td th:text="${mortgage.mortgageAmount}"></td>
        <td th:text="${mortgage.currentMortgageAmount}"></td>
        <td th:text="${mortgage.mortgageTerm}"></td>
    </tr>
    </tbody>
</table>
<br>
<a th:href="/">=<button>Go back</button></a>
</body>
</html>
