<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mortgages</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h2>Mortgages</h2>
<table>
    <thead>
    <tr>
        <th>Passport ID</th>
        <th>Amount</th>
        <th>Current Amount</th>
        <th>Term</th>
        <th>Updating mortgage</th>
        <th>Deleting mortgage</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="mortgage : ${mortgages}">
        <td th:text="${mortgage.mortgageHolderPassportNumber}"></td>
        <td th:text="${mortgage.mortgageAmount}"></td>
        <td th:text="${mortgage.currentMortgageAmount}"></td>
        <td th:text="${mortgage.mortgageTerm}"></td>
        <td>
            <a th:href="@{/mortgages/{mortgageId}/edit(mortgageId=${mortgage.id})}">
                <button>Edit</button>
            </a>
        </td>
        <td>
            <form th:action="@{/mortgages/{mortgageId}/delete(mortgageId=${mortgage.id})}" method="post">
                <input type="hidden" name="_method" value="delete">
                <button type="submit">Delete</button>
            </form>
    </tr>
    </tbody>
</table>
<br>
<a href="/">
    <button>Go back</button>
</a>
<br>
<a href="/mortgages/create">
    <button>Create New Mortgage</button>
</a>
</body>
</html>
