<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update mortgage</title>
</head>
<body>
<h1>Updating of mortgage</h1>
<div data-th-if="${errors}">
    <h2>Validation Errors</h2>
    <ul>
        <li data-th-each="error : ${errors}" data-th-text="${error.getDefaultMessage()}"></li>
    </ul>
</div>
<form method="post" data-th-action="@{/mortgages/{mortgageId}/edit(mortgageId=${mortgage?.getId})}">
    <input type="hidden" name="_method" value="put">

    <label>
        Mortgage Holder Passport Number:<br>
        <input type="text"
               name="mortgageHolderPassportNumber"
               data-th-value="${mortgagePayload != null ? mortgagePayload.mortgageHolderPassportNumber : mortgage.mortgageHolderPassportNumber}"/>
    </label><br>
    <label>
        Mortgage Amount:<br>
        <input type="number"
               name="amount"
               step="0.01"
               min="1"
               data-th-value="${mortgagePayload != null ? mortgagePayload.amount() : mortgage.mortgageAmount}" />
    </label><br>
    <label>
        Current Mortgage Amount:<br>
        <input type="number"
               name="currentAmount"
               step="0.01"
               min="0"
               data-th-value="${mortgagePayload != null ? mortgagePayload.currentAmount() : mortgage.currentMortgageAmount}"/>
    </label><br>
    <label>
        Mortgage Term:<br>
        <select name="mortgageTerm"
                data-th-value="${mortgagePayload != null ? mortgagePayload.mortgageTerm() : mortgage.mortgageTerm}">
            <option value="TEN_YEARS">10</option>
            <option value="FIFTEEN_YEARS">15</option>
            <option value="TWENTY_YEARS">20</option>
        </select>
    </label><br>
    <button type="submit">Update</button>
</form>
</body>
</html>