<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Debit Cards</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h2>Debit Cards</h2>
<table>
    <thead>
    <tr>
        <th>Passport ID</th>
        <th>Card Number</th>
        <th>Expiration Date</th>
        <th>Balance</th>
        <th>CVV</th>
        <th>Issue Date</th>
        <th>Updating debit card</th>
        <th>Deleting debit card</th>
        <th>Card Deposit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="card : ${debitCards}">
        <td th:text="${card.cardHolderPassportNumber}"></td>
        <td th:text="${card.cardNumber}"></td>
        <td th:text="${card.expirationDate}"></td>
        <td th:text="${card.balance}"></td>
        <td th:text="${card.cvv}"></td>
        <td th:text="${card.issueDate}"></td>
        <td>
            <a data-th-href="@{/debit-cards/{debitCardId}/edit(debitCardId=${card.id})}">
                <button>Update</button>
            </a>
        </td>
        <td>
            <form method="post" data-th-action="@{/debit-cards/{debitCardId}/delete(debitCardId=${card.id})}">
                <button type="submit">Delete</button>
                <input type="hidden" name="_method" value="delete">
            </form>
        </td>
        <td>
            <a data-th-href="@{/debit-cards/{debitCardId}/deposit(debitCardId=${card.id})}">
                <button>Deposit</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<br>
<a href="/"><button>Go back</button></a>
<br>
<a href="/debit-cards/create"><button>Create New Debit Card</button></a>
<br>
<a href="/debit-cards/transfer"><button>Transfer</button></a>
</body>
</html>
