<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New debit card</title>
</head>
<body>
<h1>Creation of a new debit card</h1>
<div data-th-if="${errors}">
    <h2>Validation Errors</h2>
    <ul>
        <li data-th-each="error : ${errors}" data-th-text="${error.getDefaultMessage()}"></li>
    </ul>
</div>
<form method="post" data-th-action="@{/debit-cards/create}">
    <label>
        Passport Number:<br>
        <input type="text" name="cardHolderPassportNumber"
               data-th-value="${debitCardPayload?.cardHolderPassportNumber}">
    </label><br>
    <label>
        Card Number:<br>
        <input type="text" name="cardNumber" data-th-value="${debitCardPayload?.cardNumber}">
    </label><br>
    <label>
        Expiration Date:<br>
        <input type="date" name="expirationDate" data-th-value="${debitCardPayload?.expirationDate}">
    </label><br>
    <label for="balance">
        Balance:<br>
        <input type="number"
               id="balance"
               min="0" step="0.01"
               name="balance"
               data-th-value="${debitCardPayload?.balance}">
    </label><br>
    <label>
        CVV:<br>
        <input type="text" name="cvv" data-th-value="${debitCardPayload?.cvv}">
    </label><br>
    <label>
        Issue Date:<br>
        <input type="date" name="issueDate" data-th-value="${debitCardPayload?.issueDate}">
    </label><br>
    <button type="submit">Create</button>
    <br>
    <a href="/debit-cards/list">
        <button type="button">Go back</button>
    </a>
</form>
</body>
</html>