<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update debit card</title>
</head>
<body>
<h1>Updating of debit card</h1>
<div data-th-if="${errors}">
    <h2>Validation Errors</h2>
    <ul>
        <li data-th-each="error : ${errors}" data-th-text="${error.getDefaultMessage()}"></li>
    </ul>
</div>
<form method="post" data-th-action="@{/debit-cards/{debitCardId}/edit(debitCardId=${debitCard?.getId})}">
    <input type="hidden" name="_method" value="put">
    <label>
        Passport Number:<br>
        <input type="text"
               name="cardHolderPassportNumber"
               data-th-value="${debitCardPayload != null ? debitCardPayload.cardHolderPassportNumber : debitCard.cardHolderPassportNumber}"/>
    </label><br>
    <label>
        Card Number:<br>
        <input type="text"
               name="cardNumber"
               data-th-value="${debitCardPayload != null ? debitCardPayload.cardNumber : debitCard.cardNumber}"/>
    </label><br>
    <label>
        Expiration Date:<br>
        <input type="date"
               name="expirationDate"
               data-th-value="${debitCardPayload != null ? debitCardPayload.expirationDate : debitCard.expirationDate}"/>
    </label><br>
    <label>
        CVV:<br>
        <input type="text"
               name="cvv"
               data-th-value="${debitCardPayload != null ? debitCardPayload.cvv : debitCard.cvv}"/>
    </label><br>
    <label>
        Issue Date:<br>
        <input type="date"
               name="issueDate"
               data-th-value="${debitCardPayload != null ? debitCardPayload.issueDate : debitCard.issueDate}"/>
    </label><br>

    <label for="balance">
        Balance:<br>
        <input type="number"
               id="balance"
               name="balance"
               step="0.01"
               min="0"
               data-th-value="${debitCardPayload != null ? debitCardPayload.balance : debitCard.balance}"/>
    </label><br>

    <button type="submit">Update</button>
    <br>
    <a href="/debit-cards/list">
        <button type="button">Go back</button>
    </a>
</form>
</body>
</html>